<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/vendor/bootstrap.min.css">
		<script src="/vendor/angular.min.js"></script>
		<title>Hash Track</title>
	</head>
	<body ng-app='hashTrack'>
		<!-- Used a controller for header to do fun login logout stuff using scoped nav bar items. -->
		<header ng-controller='HeaderController'>
			<show-header></show-header>
		</header>


		<!-- Used a controller for footer to do fun login logout stuff using scoped nav bar items. -->
		<footer ng-controller='FooterController'>
			<show-footer></show-footer>
			lol
		</footer>


		<!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/HeaderController.js"></script>
		<script src="js/controllers/FooterController.js"></script>

    <!-- Directives -->
    <script src="js/directives/header.js"></script>
    <script src="js/directives/footer.js"></script>

	</body>
</html>
