<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.css">
		<script src="/vendor/angular.min.js"></script>
		<script src="/vendor/angular-route.min.js"></script>
		<title>Hash Track</title>
	</head>
	<body ng-app='hashTrack'>
		<!-- Used a controller for header to do fun login logout stuff using scoped nav bar items. -->
		<div class="containter-fluid" id="site-container">
			<header ng-controller='HeaderController'>
				<show-header class='row'></show-header>
			</header>


			<!-- The whole app is happening in here -->
			<main id='main-body'>
				<div ng-view></div>
			</main>




			<!-- Used a controller for footer to do fun login logout stuff using scoped nav bar items. -->
			<footer ng-controller='FooterController'>
				<show-footer class='row'></show-footer>
			</footer>
		</div>

		<!-- Modules -->
    <script src="js/hashTrack.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/components/HeaderController.js"></script>
		<script src="js/controllers/components/FooterController.js"></script>

		<script src="js/controllers/SearchController.js"></script>
		<script src="js/controllers/LoginController.js"></script>
		<script src="js/controllers/ResultsController.js"></script>
		<script src="js/controllers/TrackController.js"></script>
		<script src="js/controllers/TweetsController.js"></script>


    <!-- Directives -->
    <script src="js/directives/components/header.js"></script>
    <script src="js/directives/components/footer.js"></script>

		<script src="js/directives/search.js"></script>
		<script src="js/directives/login.js"></script>
		<script src="js/directives/results.js"></script>
		<script src="js/directives/track.js"></script>
		<script src="js/directives/tweets.js"></script>


	</body>
</html>
