<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.css">
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,300,700' rel='stylesheet' type='text/css'>
		<script src="/vendor/angular.min.js"></script>
		<script src="/vendor/angular-route.min.js"></script>
		<title>Hash#Track</title>
	</head>

	<body ng-app='hashTrack'>
		<div class="containter-fluid" id="site-container">

			<header ng-controller='HeaderController'>
				<show-header class='row'></show-header>
			</header>

			<!-- The whole app is happening in here -->
			<main id='main-body'>
				<div ng-view></div>
			</main>

			<footer ng-controller='FooterController'>
				<show-footer class='row'></show-footer>
			</footer>
		</div>
	</body>

		<!-- Modules -->
    <script src="js/hashTrack.js"></script>

		<!-- Header and Footer -->
		<script src="js/common/header.controller.js"></script>
		<script src="js/common/footer.controller.js"></script>
		<script src="js/common/header.directive.js"></script>
    <script src="js/common/footer.directive.js"></script>

		<!-- Search -->
		<script src="js/search/search.controller.js"></script>
		<script src="js/search/search.directive.js"></script>

		<!-- Login -->
		<script src="js/login/login.controller.js"></script>
		<script src="js/login/login.directive.js"></script>

		<!-- Results -->
		<script src="js/results/results.controller.js"></script>
		<script src="js/results/results.directive.js"></script>

		<!-- Track -->
		<script src="js/track/track.controller.js"></script>
		<script src="js/track/track.directive.js"></script>

		<!-- Tweets -->
		<script src="js/tweets/tweets.controller.js"></script>
		<script src="js/tweets/tweets.directive.js"></script>

		<!-- Services -->
		<script src="js/common/services/login.service.js"></script>
		<script src="js/common/services/results.service.js"></script>


</html>
