/* GLOBAL STYLES  */
html,body, #map_canvas {
	margin: 0;
	padding: 0;
	height: 100%; /* needed for container min-height */
	width: 100%;
	font-family: 'Work Sans', sans-serif;
}

.btn {
	text-transform: uppercase;
}

/* header */
header {
	position: fixed;
	z-index: 3;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 1px 4px #adadad;
	ul.nav-tabs {
		border: 0;
	}
}

nav {
	li {
		float: right;
	}
	a {
		text-transform: uppercase;
		font-size: 1.6rem;
	}
	.logged-in-user {
		text-transform: uppercase;
		color: #838386;
		font-size: 1.6rem;
		padding: 1rem;
		border-radius: 3px;
	}
}

/* body */
#site-container, .container-fluid {
	background-image: url('/images/jumbo.jpg');
	background-size: cover;
	background-position: top;
	position: relative; /* needed for footer positioning*/
	height: auto !important; /* real browsers */
	min-height: 100%;
}

/* footer */
footer {
	background-color: #fff;
	box-shadow: 1px 0 4px #adadad;
	position: fixed;
	z-index: 2;
	width: 100%;
	bottom: 0;
}
/* all social icons */
.footer-social {
	text-align: right;
	i {
		font-size: 4rem;
		color: rgb(182, 212, 231);
		margin-right: 1rem;
		@media (max-width: 768px) {
			font-size: 3rem;
			margin-right: 0.3rem;
		}
	}
}

/* SEARCH STYLES */
#search {
	position: absolute;
	bottom: 30rem;
	width: 100%;
	.panel {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	input {
		font-size: 4rem;
		font-weight: 100;
		height: 6rem;
	}
	span button {
		height: 6rem;
		font-size: 3rem;
	}
}

/* LOGIN STYLES */
#login {
	position: absolute;
	bottom: 30rem;
	width: 100%;
	@media (max-width: 660px) {
		bottom: 5rem;
	}
	.panel {
		padding-top: 3rem;
		padding-bottom: 3rem;
		input, select {
			height: 6rem;
			font-size: 4rem;
			font-weight: 100;
			width: 25rem;
			@media (max-width: 1085px) {
				width: 100%;
			}
		}
		select {
			width: 20rem;
			@media (max-width: 1085px) {
				width: 100%;
			}
		}
		button {
			height: 6rem;
			font-size: 3rem;
			font-weight: 100;
			text-transform: uppercase;

		}
	}
	#login-btn {
		@media (max-width: 1085px) {
			width: 100%;
			margin-top: 1rem;
		}
	}
	.form-group {
		@media (max-width: 1085px) {
			width: 100%;
		}
		input {
			@media (max-width: 1085px) {
				margin-bottom: 2rem;
			}
		}
	}
}

.login-error {
	margin-top: 1rem;
}

/* RESULTS AND TRACK STYLES */
section.panel {
	margin: 0;
}

.message {
	font-family: 'Work Sans', sans-serif;
	font-size: 5rem;
	font-weight: 100;
}

.hashtag {
	font-weight: 300;
	font-size: 3rem;
	margin-bottom: 2rem;
	@media (max-width: 768px) {
		font-size: 2rem;
	}
}

.counts {
	color: #949697;
	display: inline-block;
	margin-right: 2rem;
	margin-top: 0.7rem;
	font-size: 1.4rem;
	i {
		margin-right: 0.5rem;
	}
}

#results, #track {
	position: relative;
	top: 12rem;
	width: 100%;
	max-height: 50rem;
	overflow-y: scroll;
	@media (max-width: 768px) {
		height: 5rem;
		top: 16rem;
		overflow-y: visible;
	}
	.panel {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}
}

/* MAP / TWEETS STYLES */
#map_canvas {
    position: relative;

}

.angular-google-map-container {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.hidden {
	visibility: hidden;
}

.pre-message {
	margin-top: 33%;
	h1 {
		font-weight: 100;
	}
}

.please-wait {
	text-align: center;
}

.tweet-panel {
	position: absolute;

	top:82px;
	z-index: 2;
	.tweet-panel-head {
		font-family: 'Work Sans', sans-serif;
		font-weight: 100;
		font-size: 3.5rem;
	}
	.tweet-panel-body {
		overflow-y:	scroll;
		max-height: 60rem;
	}
}
