/* GLOBAL STYLES  */
html,body {
	margin: 0;
	padding: 0;
	height: 100%; /* needed for container min-height */
}
/* header */
header {
	background-color: #fff;
	ul.nav-tabs {
		border: 0;
	}
}
/* body */
#site-container, .container-fluid {
	background-image: url('/images/jumbo.jpg');
	background-size: cover;
	background-position: top;
	position: relative; /* needed for footer positioning*/
	height: auto !important; /* real browsers */
	min-height: 100%;
}

#main-body {

}
h3 {
	margin-top: 0;
	margin-bottom: 0;
}
hr {
	width: 100%;
}
/* footer */
footer {
	background-color: #fff;
	position: absolute;
	width: 100%;
	bottom: 0;
}
/* all social icons */
.footer-social {
	text-align: right;
	i {
		font-size: 3rem;
	}
}

/* SEARCH STYLES */
#search {
	position: absolute;
	bottom: 10rem;
	width: 100%;

}
